html {
    height: 100%;
    width: 100%;
}
body {
    margin-top: 50px;
    height: 100%;
    width: 100%;
    background-color: white;
    /*background: linear-gradient(135deg, #007f5f, #ffff3f);*/


}
.gray-container {
    display: flex;
    align-items: center;
    justify-content: center;
    

    
}
.main {
    height: 500px;
    width: 800px; 

    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;

}
#photo {
    height: 500px;
    width: 800px;  
}
.middle {

    height: 500px;
    width: 800px; 
    border: solid green 2px;
}
.box {
    height: 100px;
    width: 100px;  

    margin: 20px;
    
}

.photo2 {
    height: 100px;
    width: 100px; 
     
}
.arrow {
    position: absolute;
    margin-right: 100px;
    padding: 0 20px;
    height: 500px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px 50px 50px 50px;
    background-color: whitesmoke;
    opacity: 0.6;

}
.left {
    margin-right: 100px;
    padding: 0 20px;
    height: 500px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.right {
    margin-left: 100px;
    margin-right: 0;
    padding: 0 20px;
    height: 500px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.arrow.rev {
    transform: rotate(0.5turn);

}
.arrow:hover {
    opacity: 0.2;
    
}

#ThumbnailContainer {

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0 0 -100px;
    bottom: 00px;
}
li {

    height: 100px;
    width: 100px;
    list-style-type: none;
}
.photo-title {
    display: none;
    position: relative;
    background: grey;
    color: black;
    border-radius: 5px;
    padding: 15px;
    font-size: 20px;
  }
.photo-description{
    display: none;
    position: relative;
    background: grey;
    color: black;
    border-radius: 5px;
    padding: 15px;
    font-size: 20px;
  }

.box:hover .photo-description {
    display: block;
    content: attr(photo-description);
  }

.InsideContainer {
    height: 150px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0, 0.4)
    
}

.inside {
    color: white;
    margin-left:20px ;
}