html {
    width: 1450px;
    height: 900px;
}
body {
    margin-top: 50px;
    height: 900px;
    width: 1450px;
    background-color: white;
    /*background: linear-gradient(135deg, #007f5f, #ffff3f);*/


}
.gray-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainpic {
    height: 400px;
    width: 1000px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
#photo {
    height: 500px;
    width: 800px; 

  


    
}
.box {
    height: 100px;
    width: 100px;  

    margin: 20px;
    
}

.photo2 {
    height: 100px;
    width: 100px;  
}
.arrow {
    margin-right: 100px;
    padding: 0 20px;
    height: 500px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px 50px 50px 50px;
    background-color: whitesmoke;
    opacity: 0.6;
}
.arrow.rev {
    transform: rotate(0.5turn);
    margin-left: 100px;
}
.arrow:hover {
    opacity: 0.2;
    
}

#ThumbnailContainer {

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0 0 -100px;
}
li {

    height: 100px;
    width: 100px;
    list-style-type: none;
}
.photo-title {
    display: none;
    position: relative;
    background: grey;
    color: black;
    border-radius: 5px;
    padding: 15px;
    font-size: 20px;
  }
.photo-description{
    display: none;
    position: relative;
    background: grey;
    color: black;
    border-radius: 5px;
    padding: 15px;
    font-size: 20px;
  }

.box:hover .photo-description {
    display: block;
    content: attr(photo-description);
  }

